@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

.dock {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 20px);

    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;

    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;

    border: black solid 1px;
    border-radius: 10px;
    padding: 10px 20px;
}

.dock a {
    text-decoration: none;
    color: inherit;
}

.logo {
    justify-self: start;
}

.web {
    font-family: "Imperial Script", cursive;
    font-size: 25px;
}

.logo a {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav {
    justify-self: center;
    display: flex;
    gap: 100px;
}

.auth {
    justify-self: end;
}

.welcome {
    padding: 0 0 0 20px;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;

}

.welcome h2 {
    margin: 15px 0 10px;
}

.welcome p {
    margin: 0 0;
    font-family: "Georgia", serif;
    font-size: 16px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1.7fr 1.5fr 1.5fr 1.5fr;
    gap: 10px;
    padding: 60px 2px 2px 0;

    font-family: "Georgia", serif;
    font-size: 18px;
}

#load {
    font-family: "JetBrains Mono", monospace;
    margin: 5px 0 0;
    white-space: nowrap;
}

#storage-left {
    font-family: "Georgia", serif;
    font-size: 16px;
    margin: 10px 0 0;
    align-self: flex-end;
}

.widget {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin: 10px;
    padding: 5px;
}

.widget p {
    margin: 0;
}

.chart-bandwidth {
    margin: 5px 0;
    border: 1px solid black;
    width: 300px;
    height: 75px;
}

.chart-bandwidth polyline {
    stroke: blue;
    fill: none;
    stroke-width: 5px;
}

.chart-bandwidth .area {
    fill: blue;
    opacity: 0.1;
}

.chart-requests {
    margin: 5px 0;
    border: 1px solid black;
    width: 300px;
    height: 75px;
}

.chart-requests polyline {
    stroke: red;
    fill: none;
    stroke-width: 5px;
}

.chart-requests .area {
    fill: red;
    opacity: 0.1;
}

.workplace {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    font-family: "Georgia", serif;
    margin: 20px 10px;
}

.canvas h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 30px;
    margin: 0;
}

.canvas p {
    margin: 0 0 10px;
}

#board {
    width: 95%;
    height: 420px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.drive h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 30px;
    margin: 10px;
}